*{
    font-family: "Fira Sans", serif;
    
}
body{
    background-color: #F5F5F5;
}
nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 100px;
}
li{
    text-decoration: none;
    list-style: none;
}
.logo{
    font-family: "Fira Sans", serif;
    font-weight:700;
    font-style: normal;
    font-size: 32px;
    color: #0E0E0E;
}
.btn{

    border-radius: 8px;
    border-color: #006A50;
}
.btn1{
    color: #006A50;
    font-weight:600;
    font-size: 18px;
    padding: 15px 30px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 24px;
    margin: 24px 100px; 
    background-color:#C6E4D6; 
    padding: 60px 80px 60px 80px;
}
.banner-contain .details{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
}
.title{
color: rgba(114, 114, 114, 0.5);
Font-weight: 500;
Font-size: 24px;
text-align:left;
line-height:8px; 
}
.btn2{
padding: 17px 34px 17px 34px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
text-align: left;
}
.about{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 0 100px 0 100px;
}
.about-title{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin-left: 100px;
margin-top: 80px;
}
.box{   
width: 500px;
height: 300px;
padding: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-right: 25px; 
padding: 30px;
margin-bottom: 50px;
}
.card-title{
    color: #0E0E0E;
    font-size: 20px;
    font-weight: bold;
}
.card-details{
    color: #393A3A;
}
.vision-contain{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 0 100px 0 100px;
}
.box-4{
    width: 500px;
    height: 300px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    margin-right: 25px; 
    padding: 30px;
    margin-bottom: 50px;
}
.box-5{
    width: 500px;
    height: 300px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: #C6E4D6;
    margin-right: 25px; 
    padding: 30px;
    margin-bottom: 50px;
}
.box-6{
      width: 500px;
    height: 300px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background:#F7EBCF;;
    margin-right: 25px; 
    padding: 30px 30px;
    margin-bottom: 50px;                                                                    
    
}
.vision-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-left: 100px;
    margin-top: 80px;  
}
.vision-details{
    color: #393A3A;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;  
}
.btn3{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background:rgb(84, 144, 245);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom:30px;
}
.btn4{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom:30px;
}
.btn5{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background:rgb(255, 194, 57);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom:30px;
}
.quotes-contain{ 
    border-radius: 24px;
    margin: 24px 100px; 
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    padding:40px 80px 40px 80px;
    padding-left: 80px;
    
}
.quotes-details{
    color: rgba(14,14,14,0.8);
    font-size: 15px;
    font-weight:400;
    line-height: 24px;
    text-align: left;
}
span{
color:rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 25px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.opinion-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-left: 100px;
    margin-top: 80px;  
}
table{
 width: 100%;
border-collapse: collapse;
background: rgb(255, 255, 255);
border-radius: 16px;
align-items: center;

}
th{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214);
padding: 24px;
color: rgb(14, 14, 14);
font-size: 20px;
font-weight: 600;
text-align: left;
}
select{
box-sizing: border-box;
border: 1px solid rgb(14, 14, 14);
border-radius: 4px;
background: rgb(198, 228, 214);
padding: 10px 14px 10px 14px;
margin-left:30%;
}

td{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
padding: 12px;
align-items: center;
}
#opinion{
display: flex;
width: 1200px;
border-radius: 16px;
background: rgb(255, 255, 255);
margin-left: 100px;
padding:40px;
}
.news-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-left: 100px;
    margin-top: 80px; 
}
.news-details{
    color: #393A3A;
    font-size: 16px;
    font-weight:400;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px; 
}
.news-image{
    width: 408px;
    height: 306px;
    margin: 0px 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 24px;
    background: url(../images/satelite.png);
    background-repeat: no-repeat;
}
.news-contain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 24px;
    margin: 24px 100px; 
    background-color:rgb(255, 255, 255);
    padding: 40px; 
}
.news-part{
    width:1000px;
    color: #393A3A;
    font-size: 16px;
    font-weight:400;
    text-align: left;
}
.btn7{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background:rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom:30px;
}

.news-details2{
    color: #393A3A;
    font-size: 16px;
    font-weight:400;
    text-align: left;
}
.news-image2{
    width: 408px;
    height: 306px;
    margin: 0px 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 24px;
    background: url(../images/satelite.png);
    background-repeat: no-repeat;
}
.news-contain2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 24px;
    margin: 24px 100px; 
    background-color:rgb(255, 255, 255);
    padding: 40px; 
}
.news-part2{
    width:1000px;
    color: #393A3A;
    font-size: 16px;
    font-weight:400;
    text-align: left;
}
.btn7{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background:rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom:30px;
}
.donate{
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
text-align: center;
}
.donate-details{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
text-align: center;
}
.btnd1{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
width: 240px;
height: 128px;
padding: 20px;
margin: 0px 24px;
color: rgba(14, 14, 14, 0.8);
font-size: 40px;
font-weight: 700;
}
.btn:hover{
    background-color: #006A50;
}
    .Dbutton{
    margin-left: 150px;
              
    }
    input[type="text"]
    {
     box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    width: 1032px;
    height: 64px;
    padding: 20px 40px 20px 40px;
    margin: 32px 0px;
     text-align: center;
    margin-left:50px;
    }

      .newsletter{
        flex-direction: row;
        border-radius: 24px;
        margin: 24px 100px; 
        background-color:#C6E4D6; 
        padding: 60px 80px 60px 80px;
      } 
      input[type="email"]
            {
              box-sizing: border-box;
              border:none;
              background: rgb(255, 255, 255);
              width: 650px;
              height: 64px;
              padding: 20px 40px 20px 40px;
              margin: 32px 0px;
              text-align: center;
              margin-left:150px;
              font-size: 18px;
            } 
            .btn9{
                padding: 20px 60px 20px 60px;
                border-radius: 8px;
                background: rgb(0, 106, 80);
                border: none;
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: 600;
                text-align: left;
                margin-bottom:30px;
            } 
 
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: 100px;
}
.footer-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 80px; 
}
.icon-footer{
    display: flex;
    justify-content: center;
}
.icon1{
padding: 20px;
width: 18px;
height: 18.83px;
left: 7.69px;
top: 5.17px;
}


